<!-- Page Style -->
<style type="text/css">
    h1 {
        margin-top: 3em;
        margin-bottom: 2em;
    }
    
 /* tab content styling */
 
    p1 {
        margin-top: 3em;
        font-family: "Quicksand";
		font-size: 18px;
		font-style: normal;
		font-variant: normal;
		font-weight: 100;
		line-height: 25px;
    }
    
.card-size-chart {
    margin-top:25px;
}
    
 /* panel styling */   
 
 /* tab content styling */
 
    p1 {
        margin-top: 3em;
        font-family: "Quicksand";
		font-size: 18px;
		font-style: normal;
		font-variant: normal;
		font-weight: 100;
		line-height: 25px;
    }
    
.card-size-chart {
    margin-top:25px;
}
    
 /* panel styling */   
 
.nav-tabs > li > a, .nav-pills > li > a {
	margin-left:25px;
	margin-right:27px;
	cursor:pointer;
}
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
    font-family: "Quicksand";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 25px;
	margin-bottom: 25px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: #199a21;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777!important;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777!important;
	background-color: #FFD27F!important;
	border-color: #FFC966;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555!important;
	background-color: #fff;
	border-color: #008000;
	border-bottom-color: #199a21;
}
.panel-body {
	margin-bottom: 20em;
}

</style>

<!-- Page Content -->
<div class="container">

 	<div class="row">
 		<div class="col-lg-12">
            <h1 class="page-header">about us</h1>
        </div>

    </div>
    <!-- /.row -->
    
    
    <div class="row">

        <div class="col-md-8">

            <p>TEEhuggers started out as a passion project for two former college roommates that blossomed into a
            lifestyle, philosophy, and guiding set of values. As consumers, we want to know that the money we pay for goods
            and services goes to responsible companies with sustainable business, management, and community practices.<br/><br/> As
            moms, wives, daughters, sisters, and neighbors, we know how important&mdash;and often scarce&mdash;quality and safety are in today&rsquo;s 
            crowded consumer goods market. That&rsquo;s why we bring you TEEhugger products for you and your loved ones.<br/><br/>
            Designed, sourced, fabricated, manufactured, and distributed with high standards, respect for the environment and sustainability,
            and made for&mdash;and supported by&mdash;our wonderful community. We hope you love our products as much as we do!<br/><br/><br/></p>
        </div>

        <div class="col-md-4">
            <h4 class="page-header">thoughts to share?</h4>

            <p>Please reach out with any feedback, ideas, or questions you have about our company. We can&rsquo;t wait to be in touch!</p>
            <a class="btn btn-success" href="#contact">contact us</a>
        </div>

    </div>
    <!-- /.row -->
    
    <div class="row">

        <div class="col-lg-12">
        	<h4 class="page-header">click for more on our products</h4>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
  							<li class="nav-item">
    							<a class="nav-link" data-target="#tab1" data-toggle="tab" role="tab" aria-controls="tab1" aria-selected="false">size chart</a>
  							</li>
  							<li class="nav-item">
    							<a class="nav-link" data-target="#tab2" data-toggle="tab" role="tab" aria-controls="tab2" aria-selected="true">fabrication</a>
 		 					</li>
  							<li class="nav-item">
    							<a class="nav-link" data-target="#tab3" data-toggle="tab" role="tab" aria-controls="tab3" aria-selected="false">care instructions</a>
  							</li>
  							<li class="nav-item">
    							<a class="nav-link" data-target="#tab4" data-toggle="tab" role="tab" aria-controls="tab4" aria-selected="false">guarantee</a>
  							</li>
  							<li class="nav-item">
    							<a class="nav-link" data-target="#tab5" data-toggle="tab" role="tab" aria-controls="tab5" aria-selected="false">giving back</a>
  							</li>
						</ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content" id="myTabContent">
  						<div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="size-chart-tab">
  							<p1>Check the chart below to find your perfect size. Note 1 inch = 2.54 cm (we love the metric system!).</p1><br>
                          		<img class="card-size-chart" src="/store/sizechart.jpg" alt="" height="581" width="500">
                        </div>
  						<div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="fabrication-tab">
  							<p1>Only the very best for you and your family. That means 100% organic, minimally-treated cotton. All of our tees are tag-free
                          for your comfort, and pre-shrunken so that they last a long, long time.</p1>
                        </div>
  						<div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="care-instructions-tab">
  							<p1>To ensure a long life for your garments, we recommend: 
                            	<li>machine wash with like colors</li>
                				<li>cool or warm water only</li>
                				<li>non-toxic detergent (and skip the fabric softener)</li>
                				<li>tumble dry on low</li>
                				<li>live, play, and enjoy!</li>
                        	</p1>
                        </div>
  						<div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="guarantee-tab">
							<p1>We stand by our products and guarantee the clothing we make will stand up to serious activity! That means products that won’t shrink after a few washes, rip or tear easily, and fabrics that are super soft and comfortable.</p1><br/><br/>
              				<p>Check out our <a href="#faq">faq</a> for more information, or contact us at 1-877-TEEHUGGR or help@teehuggers.com.</p>
  						</div>
   						<div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="giving-back-tab">
   							<p1>Your purchase helps lives. TEEhugger donates $2 from every purchase to organizations like CARE International to invest in women and girls through education, food security, and economic development.
                          For more information on CARE, visit <a href="http://care.org/">care.org</a>.</p1>
                        </div>
					</div>  
				</div>
                
                
            </div>
        </div>

    </div>
    
    
    <!-- /.row -->


</div><!-- /.container -->