<!-- Page Content -->
    <div class="container">

       <div class="row justify-content-md-center">

        <div class="col-lg-9">

          <div class="card sm-4">
            <img class="card-img-top img-fluid" src="https://teehuggers.com/summit-2020-lab/imgs/baby-v-pdp.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">baby v onesie</h4>
              <h5>$10.99</h5>
              <p class="card-text">Tagless for comfort, with a lightweight feel. Perfect for all seasons. Plastic snap closure at crotch and shoulders for easy pullover dressing.</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
              <div ng-controller="BabyVClickCtrl">
                <a class="btn btn-success pull-right" ng-click="createId()" href="#checkout">Buy Now <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card sm-4 -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h1>product reviews</h1>
            </div>
            <div class="card-body">
              <p1>nice</p1>
              <small class="text-muted">Posted by Helen P. on 8/4/17</small>
              <hr>
              <p1>As described, thank you!</p1>
              <small class="text-muted">Posted by Melissa H. on 11/1/17</small>
              <hr>
              <p1>My goto onesie, holds up nice thru many washes.</p1>
              <small class="text-muted">Posted by Joy E. on 1/29/18</small>
              <hr>
              <a href="#" class="btn btn-link btn-sm pull-right">LEAVE A REVIEW</a>
            </div>
             <!-- /.card-body -->
          </div>
          <!-- /.card-header -->

        </div>
        <!-- /.col-lg-9 -->


      </div>

    </div>
    <!-- /.container -->
