<!-- Page Content -->
    <div class="container">
       <div class="row justify-content-md-center">

        <div class="col-lg-9">

          <div class="card sm-4">
            <img class="card-img-top img-fluid" src="https://teehuggers.com/summit-2020-lab/imgs/baby-crew-pdp.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">baby crew onesie</h4>
              <h5>$10.99</h5>
              <p class="card-text">Tagless for comfort, with a lightweight feel. Perfect for all seasons. Foldover shoulders and plastic snap closure.</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
				<div ng-controller="BabyCrewClickCtrl">
            		<a class="btn btn-checkout-bc btn-success pull-right" ng-click="createId()" href="#checkout">Buy Now <i class="fa fa-angle-right"></i></a>
				</div>
				
            </div>
             <!-- /.card-body -->
          </div>
          <!-- /.card sm-4 -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h1>product reviews</h1>
            </div>
            <div class="card-body">
              <p1>Love them! planning to buy more</p1>
              <small class="text-muted">Posted by Anonymous on 6/21/17</small>
              <hr>
              <p1>Really soft and good amount of stretch. Shipping fast and nicely wrapped, thanks.</p1>
              <small class="text-muted">Posted by Julie R. on 7/30/17</small>
              <hr>
              <p1>super happy with my purchase! Bought these for my babyshower for a game and these were totally perfect!</p1>
              <small class="text-muted">Posted by Kat J. on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-link btn-sm pull-right">LEAVE A REVIEW</a>
            </div>
          </div>
          <!-- /.card card-outline-secondary my-4-->

        </div>
        <!-- /.col-lg-9 -->

      </div>
	  <!-- /.row justify content md center -->
		 
    </div>
    <!-- /.container -->
    
    
    <!-- Page bottom scripts for Launch direct call rules -->
	<script type="text/javascript">_satellite.track('page-view');></script>
    <script type="text/javascript">_satellite.track('product-view');></script>
 
