<!-- start Hybrid decisioning exercise with getOffers(), Ex. 2 : https://adobe.ly/3g5NbiD
<script type="text/javascript-lazy" src="js/target_getOffer_helper.js"></script>
end script -->



<!-- Page Content -->

<div class="container">
 <div class="target-offers-baby">
  <!-- /.ng-directive "target-offers-baby"-->
   <div class="category-baby">
	<div class="row justify-content-md-center">
		<div class="col-lg-9">
			
			<!-- Baby Category banner -->
            <div id="group1">
			<div class="carousel-homepage">
  				<img class="img-fluid w-100" style="margin-top:25px; margin-bottom:25px" src="https://teehuggers.com/summit-2020-lab/imgs/category-baby-summer2019.jpg" alt="">
			</div>
            </div><!--.group1 for Target mbox mapping -->
            
			<!-- Category cards -->
            <div id="group2">
			<div class="row justify-content-md-center">
				<div class="col-lg-6 col-md-6 mb-4">
              		<div class="card h-100">
                		<a href="#baby-crew"><img class="card-img-top" src="https://teehuggers.com/summit-2020-lab/imgs/baby-crew-category-item.jpg" alt=""></a>
                		<div class="card-body">
                  			<a href="#baby-crew"><h4>baby crew</h4></a>
                  			<h5>$10.99</h5>
                		</div>
                		<div class="card-footer">
                  			<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                		</div>
              		</div>
            	</div>

            	<div class="colg-6 col-md-6 mb-4">
              		<div class="card h-100">
                	<a href="#baby-v"><img class="card-img-top" src="https://teehuggers.com/summit-2020-lab/imgs/baby-v-category-item.jpg" alt=""></a>
                		<div class="card-body">
                  			<a href="#baby-v"><h4>baby v</h4></a>
                  			<h5>$10.99</h5>
                		</div>
                		<div class="card-footer">
                  			<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                		</div>
              		</div>
            	</div>
            	
        	</div>
          <!-- /.row justify-content-md-center -->
        </div><!--.group2 for Target mbox mapping -->
		</div>
        <!-- /.col-lg-9 -->
	</div>
	<!-- /.row justify-content-md-center -->
   </div>
    <!-- /.category-baby -->
    </div>
    <!-- ng-directive "target-offers-baby" -->
 </div>
<!-- /.container -->

  
