<style type="text/css">
    
    /* moved to main shop css file:
    h1 {
        margin-top: 3em;
        margin-bottom: 2em;
    }
    */
     
    .row-bottom { 	
    	margin-bottom: 20em;
    }
    
    .panel-body {
    	margin-bottom: 2em;
    }
    
    .accordion-toggle {
        cursor:pointer;
    }
	.accordion-toggle.collapsed {
        color:#DAA520;
        cursor:pointer;
    }
	.panel-collapse.collapse {
    	cursor:pointer;

	}
	.panel-collapse.collapse.show {
        cursor:pointer;

	}
</style>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">faq</h2>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                              data-target="#collapseOne">
                                what is your satisfaction guarantee?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
							We stand by our products and guarantee the clothing we make will stand up to 
							serious activity! That means:
							<li>Items won&rsquo;t shrink after a few washes.</li>
							<li>Clothes won&rsquo;t rip or tear easily.</li>
							<li>Fabrics will be super soft and comfortable.</li>
							If you receive an item that is anything less, please let us know ASAP by contacting our 
							Customer Care team at 1-877-TEEHUGGR or help@teehuggers.com. We&rsquo;re willing to do whatever 
							it takes to make sure you get the quality pieces you deserve.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseTwo">
                                what do I do if I want to return something?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            No problem! We want to give you a hassle-free way to return anything, so you can return any item 
                            to us within 28 days of receiving your original order, excluding sale or clearance items.
							Simply email us at help@teehuggers.com to receive a prepaid USPS shipping label and return slip via email. 
							Once we&rsquo;ve received your return parcel, we&rsquo;ll email you to let you know, and $7.99 return shipping 
							fee will be deducted from your refund.
							The funds will go back to your original payment method. Your refund can take 5-10 business days 
							(excluding weekends and public holidays) to post to your banking institution.
							When returning items, help us to promptly address your return by including the order number and product information
							in the return slip and place it in your package.

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseThree">
                                how do I exchange my purchase for a different size or neckline style?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            We are unable to offer exchanges for online purchases at this time. If you would like a different size or item, 
                            please return the item to us and then place a new online order.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseFour">
                                how do I check the status of my order?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            You may view the status of your order by logging in to your TEEhugger account and clicking on My Orders and 
                            then Track Order. Make sure to have your order number ready.
							Confirmations are sent via email when your order has been received, and you will also receive a confirmation 
							once your items have been shipped.
							If you did not receive any confirmation emails, please check your email spam filter, or email help@teehuggers.com 
							for further assistance.

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseFive">
                                what kind of shipping options do you offer?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            We currently ship in the United States only, excluding PO boxes or APC locations. We offer fixed rate $7.99 USPS standard 
                            shipping per order, regardless of item quantity. Items typically leave our factory within 2 business days of purchase date, 
                            unless otherwise specified. Please allow 5-7 days for transit time and delivery.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseSix">
                                what if my product is out of stock?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Feel free to email our Customer Care team at help@teehuggers.com and let us know the size, neckline style, and quantity 
                            of the item(s). We will notify you via email once the products are back in stock!
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseSeven">
                                do you offer gift cards?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            We currently do not offer gift cards to redeem for online purchases.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseEight">
                                where is your clothing made?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            All of our textiles are sourced from sustainable, natural domestic mills, 
                            and our products are proudly designed, manufactured, and distributed in the 
                            United States.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseNine">
                            	do you test on animals or use animal products?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            TEEhugger is committed to animal welfare and does not source animal-derived 
                            materials from any suppliers for our products. We do not conduct any testing 
                            of our products or manufacturing processes on animals.
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.row-->
    
    <div class="row-bottom">
    </div>

</div>
<!-- /.container -->



