<!-- Page Content -->
<div class="container">
<div class="target-offers"> </div>   <!-- /.ng-directive "target-offers"-->
   <div class="category-kids">
	<div class="row justify-content-md-center">
		<div class="col-lg-9">
			
       		<!-- Kids Category banner -->
            <div id="group3">
       		<div class="carousel-homepage">
            	<img class="img-fluid w-100" style="margin-top:25px; margin-bottom:25px" src="https://teehuggers.com/summit-2020-lab/imgs/category-kids-summer2019.jpg" alt="">
    		</div>
            </div><!--.group3 for Target mbox mapping -->

			<!-- Category cards -->
            <div id="group4">
			<div class="row justify-content-md-center">
            	<div class="col-lg-6 col-md-6 mb-4">
              		<div class="card h-100">
                		<a href="#kids-crew"><img class="card-img-top" src="https://teehuggers.com/summit-2020-lab/imgs/kids-crew-pdp.jpg" alt=""></a>
                		<div class="card-body">
                  			<a href="#kids-crew"><h4>kids&rsquo; crew</h4></a>
                  			<h5>$19.99</h5>
                		</div>
                		<div class="card-footer">
                  			<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                		</div>
              		</div>
            	</div>

            	<div class="col-lg-6 col-md-6 mb-4">
              		<div class="card h-100">
                		<a href="#kids-v"><img class="card-img-top" src="https://teehuggers.com/summit-2020-lab/imgs/kids-v-pdp.jpg" alt=""></a>
                		<div class="card-body">
                  			<a href="#kids-v"><h4>kids&rsquo; v</h4></a>
                  			<h5>$19.99</h5>
                		</div>
                		<div class="card-footer">
                  			<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                		</div>
              		</div>
            	</div>
			</div>
          	<!-- /.row justify-content-md-center -->
          </div><!--.group4 for Target mbox mapping -->
		</div>
        <!-- /.col-lg-9 -->
	</div>
	<!-- /.row justify-content-md-center -->
   </div>
   <!-- /.category-kids -->
</div>
<!-- /.container -->
    
   
