<!-- Page Content -->
    <div class="container">

     <!-- refining this: <div class="row"> -->
       <div class="row justify-content-md-center">

        <div class="col-lg-9">

          <div class="card sm-4">
            <img class="card-img-top img-fluid" src="https://teehuggers.com/summit-2020-lab/imgs/kids-v-pdp.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">kids&rsquo; v tee</h4>
              <h5>$19.99</h5>
              <p class="card-text">Pre-shrunken and stain-resistent with a relaxed unisex shape. Tagless for comfort. Perfect for school, play, and everything else.</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            	<div ng-controller="KidsVClickCtrl">
            		<a class="btn btn-checkout-bc btn-success pull-right" ng-click="createId()" href="#checkout">Buy Now <i class="fa fa-angle-right"></i></a>
				</div>
				
            </div>
             <!-- /.card-body -->
          </div>
          <!-- /.card sm-4 -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h1>product reviews</h1>
            </div>
            <div class="card-body">
              <p1>okay, did not shrink.</p1>
              <small class="text-muted">Posted by Angel M. on 3/31/17</small>
              <hr>
              <p1>Bought these in bulk for my sons soccer team, great!</p1>
              <small class="text-muted">Posted by Jayne L. on 5/14/17</small>
              <hr>
              <p1>True to size, have not washed yet though. Hope they really don't shrink!!!!!</p1>
              <small class="text-muted">Posted by Anonymous on 12/1/17</small>
              <hr>
              <a href="#" class="btn btn-link btn-sm pull-right">LEAVE A REVIEW</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->


      </div>

    </div>
    <!-- /.container -->
