<!-- Page Content -->
    <div class="container">

     <!-- refining this: <div class="row"> -->
       <div class="row justify-content-md-center">


        <div class="col-lg-9">

          <div class="card sm-4">
            <img class="card-img-top img-fluid" src="https://teehuggers.com/summit-2020-lab/imgs/mens-v-pdp.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">mens&rsquo; v tee</h4>
              <h5>$24.99</h5>
              <p class="card-text">Even better than the original&mdash;the same great cotton and cut with a polished yet sporty mid-v neck profile. Never any tags.</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            	<div ng-controller="MensVClickCtrl">
            		<a class="btn btn-checkout-bc btn-success pull-right" ng-click="createId()" href="#checkout">Buy Now <i class="fa fa-angle-right"></i></a>
				</div>	
            </div>
             <!-- /.card-body -->
          </div>
          <!-- /.card sm-4 -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h1>product reviews</h1>
            </div>
            <div class="card-body">
              <p1>Their basic but their nice shirts</p1>
              <small class="text-muted">Posted by Angela D. on 5/23/17</small>
              <hr>
              <p1>These work under everything&mdash;from sweaters to jerseys and buttondowns. Will be back for more.</p1>
              <small class="text-muted">Posted by Mitch K. on 12/22/17</small>
              <hr>
              <p1>I keep my closet STOCKED!!!</p1>
              <small class="text-muted">Posted by Jake P. on 2/1/18</small>
              <hr>
              <a href="#" class="btn btn-link btn-sm pull-right">LEAVE A REVIEW</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->


      </div>

    </div>
    <!-- /.container -->
