<!-- Page Content -->
    <div class="container">

     <!-- refining this: <div class="row"> -->
       <div class="row justify-content-md-center">


        <div class="col-lg-9">

          <div class="card sm-4">
            <img class="card-img-top img-fluid" src="https://teehuggers.com/summit-2020-lab/imgs/mens-crew-pdp.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">mens&rsquo; crew tee</h4>
              <h5>$24.99</h5>
              <p class="card-text">Breathable, moisture-wicking cotton in the perfect proportions that won't lose its shape in the wash. Always tagless.</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            	<div ng-controller="MensCrewClickCtrl">
            		<a class="btn btn-checkout-bc btn-success pull-right" ng-click="createId()" href="#checkout">Buy Now <i class="fa fa-angle-right"></i></a>
				</div>
            </div>
             <!-- /.card-body -->
          </div>
          
          <!-- /.card sm-4 -->
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h1>product reviews</h1>
            </div>
            <div class="card-body">
              <p1>These are the only shirts my husband will wear!</p1>
              <small class="text-muted">Posted by Alana R. on 6/13/17</small>
              <hr>
              <p1>Good for workouts, I'll stock up soon.</p1>
              <small class="text-muted">Posted by Ben H. on 10/31/17</small>
              <hr>
              <p1>decent quality</p1>
              <small class="text-muted">Posted by Frank N. on 3/1/18</small>
              <hr>
              <a href="#" class="btn btn-link btn-sm pull-right">LEAVE A REVIEW</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->


      </div>

    </div>
    <!-- /.container -->
