<!-- Page Content -->
<div class="container">
  <div class="category-mens">
	<div class="row justify-content-md-center">
		<div class="col-lg-9">
			
       		<!-- Mens Category banner -->
       		<div class="carousel-homepage">
            	<img class="img-fluid w-100" style="margin-top:25px; margin-bottom:25px" src="https://teehuggers.com/summit-2020-lab/imgs/category-mens-summer2019.jpg" alt="">
    		</div>

			<!-- Category cards -->
				<div class="row justify-content-md-center">
            		<div class="col-lg-6 col-md-6 mb-4">
              			<div class="card h-100">
                			<a href="#mens-crew"><img class="card-img-top" src="https://teehuggers.com/summit-2020-lab/imgs/mens-crew-pdp.jpg" alt=""></a>
                			<div class="card-body">
                  				<a href="#mens-crew"><h4>mens&rsquo; crew</h4></a>
                  				<h5>$24.99</h5>
                			</div>
                			<div class="card-footer">
                  				<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                			</div>
              			</div>
            		</div>

            		<div class="col-lg-6 col-md-6 mb-4">
              			<div class="card h-100">
                			<a href="#mens-v"><img class="card-img-top" src="https://teehuggers.com/summit-2020-lab/imgs/mens-v-pdp.jpg" alt=""></a>
                			<div class="card-body">
                  				<a href="#mens-v"><h4>mens&rsquo; v</h4></a>
                  				<h5>$24.99</h5>
                			</div>
                			<div class="card-footer">
                  				<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                			</div>
              			</div>
            		</div>

        	</div>
          <!-- /.row justify-content-md-center -->
		</div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row justify-content-md-center -->
  </div>
  <!-- /.category-mens -->
</div>
<!-- /.container -->
    
   
