	<!-- Data Layer -->
	<script>

        var digitalData = digitalData || {};
        digitalData = {
            page: {
                pageName: "My Account",
                siteSection: "Home Section",
                siteSubsection: "Home Subsection",
                server: "Pretend Retail Site" 		
    };
    
	</script>

<!-- Page Style -->

<style type="text/css">
    h1 {
        margin-top: 3em;
        margin-bottom: 2em;
    }
    
    .row-bottom {
    	margin-bottom: 20em;
    }

</style>

<!-- Page Content -->
<div class="container">

 	<div class="row">
 		<div class="col-lg-12">
            <h1 class="page-header">my account</h1>  		
        </div>

    </div>
    <!-- /.row -->
    
    
    <div class="row">
        	<div class="col-md-8">

            <h4>Welcome back, friend!</h4><br/>
            <p>You currently have no active orders. You know what you need to do! :)</p>
            <a class="btn btn-primary" href="http://teehuggers.com/store/index.html#/">shop now</a>
			</div>
		
    </div>
    <!-- /.row -->
    
	<div class="row-bottom"></div>
	
</div>
<!-- /.container -->