<!-- Page Style -->
<style type="text/css">
    h1 {
        margin-top: 3em;
        margin-bottom: 2em;
    }
    
    .row-bottom {
        margin-bottom: 20em;
    }

    .field_label {
        font-size: 12px;
    }

</style>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">log in</h1>         
        </div>

    </div>
    <!-- /.row -->
    
    
    <div class="row">
        <div class="col-md-8">
            <p>Log in to see your shopping cart, track a new order, look up previous orders, or review and/or update your account profile. <a href="#my-account"></a></p><br/><br/>            
        </div>

        <div class="col-md-8">
    
    <form id="ema_signup_form" target="_blank" action="https://gem.godaddy.com/signups/subscribe/be73e6b97964412f81ce628b44933c08" accept-charset="UTF-8" method="post">
       <input name="utf8" type="hidden" value="✓"/>
       <div class="mimi_field required">

        <label for="signup_email" class="field_label">EMAIL*</label>
          <br/>
          <input id="signup_email" name="signup[email]" type="text" data-required-field="This field is required"/>
         
         <br/> <br/>
          
    
         <label for="signup_password" class="field_label">PASSWORD*</label>
          <br/>
          <input type="password" id="signup_username" name="signup[user]" type="text" data-required-field="This field is required" />
         
         
         <br/>
         <br/>
         
         
       </div>
       <div style="background: white; font-size:1px; height: 0; overflow: hidden">
          <input type="text" name="fddee9195e2a38cd5dcdad04d05785cc" style="font-size: 1px; width: 1px !important; height:1px !important; border:0 !important; line-height: 1px !important; padding: 0 0; min-height:1px !important;"/>
          <input class="checkbox" type="checkbox" name="beacon"/>
       </div>
       <div class="mimi_field">

        
        <a href="https://teehuggers.com/summit-2020-lab/index.html#/my-account"><button type="submit" class="btn btn-success">log in</button></a>
    

          
          <br/>
          <br/>
          <br/>
<div class="field_label"><i>If you forgot your password, <a href="#">CLICK HERE</a> to reset.</i></div>

       </div>
    </form>


            <!-- /.secure-login -->
        </div>
        
    </div>
    <!-- /.row -->
    
    <div class="row-bottom"></div>
    
</div>
<!-- /.container -->