<!-- Page Content -->
    <div class="container">

     <!-- refining this: <div class="row"> -->
       <div class="row justify-content-md-center">


        <div class="col-lg-9">

          <div class="card sm-4">
            <img class="card-img-top img-fluid" src="https://teehuggers.com/summit-2020-lab/imgs/womens-crew-pdp.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">womens&rsquo; scoop</h4>
              <h5>$29.99</h5>
              <p class="card-text">Just right combination of drape and shape that will stand up to your busy lifestyle. 100% comfort (and tag-free).</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            	<div ng-controller="WomensCrewClickCtrl">
            		<a class="btn btn-checkout-bc btn-success pull-right" ng-click="createId()" href="#checkout">Buy Now <i class="fa fa-angle-right"></i></a>
				</div>
            </div>
             <!-- /.card-body -->
          </div>
          <!-- /.card sm-4 -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h1>product reviews</h1>
            </div>
            <div class="card-body">
              <p1>It is SOOOOO hard to find the perfect t shirt. The length, sleeves, and fit of this one can't be beat.</p1>
              <small class="text-muted">Posted by Erin T. on 4/28/17</small>
              <hr>
              <p1>Saw these in Green Living, mag love love love!!!!</p1>
              <small class="text-muted">Posted by Gina B. on 11/22/17</small>
              <hr>
              <p1>buy a bunch! You won't regret it</p1>
              <small class="text-muted">Posted by Penny L. on 2/14/18</small>
              <hr>
              <a href="#" class="btn btn-link btn-sm pull-right">LEAVE A REVIEW</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->


      </div>

    </div>
    <!-- /.container -->
