<!-- Page Content -->
<div class="container">
 <div class="target-offers-w"> </div>   <!-- /.ng-directive "target-offers"-->
  <div class="category-womens">
	<div class="row justify-content-md-center">
		<div class="col-lg-9">
			
       		<!-- Womens Category banner -->
            <div id="group5">
       		<div class="carousel-homepage">
            	<img class="img-fluid w-100" style="margin-top:25px; margin-bottom:25px" src="https://teehuggers.com/summit-2020-lab/imgs/category-women-summer2019.jpg" alt="">
			</div>
            </div><!--.group5 for Target mbox mapping -->

			<!-- Category cards -->
            <div id="group6">
			<div class="row justify-content-md-center">
            	<div class="col-lg-6 col-md-6 mb-4">
              		<div class="card h-100">
                		<a href="#womens-crew"><img class="card-img-top" src="https://teehuggers.com/summit-2020-lab/imgs/womens-crew-pdp.jpg" alt=""></a>
                		<div class="card-body">
                  			<a href="#womens-crew"><h4>womens&rsquo; crew</h4></a>
                  			<h5>$29.99</h5>
                		</div>
                		<div class="card-footer">
                  			<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                		</div>
              		</div>
            	</div>

            	<div class="col-lg-6 col-md-6 mb-4">
              		<div class="card h-100">
                		<a href="#womens-v"><img class="card-img-top" src="https://teehuggers.com/summit-2020-lab/imgs/womens-v-pdp.jpg" alt=""></a>
                		<div class="card-body">
                  			<a href="#womens-v"><h4>womens&rsquo; v</h4></a>
                  			<h5>$29.99</h5>
                		</div>
                		<div class="card-footer">
                  			<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                		</div>
              		</div>
            	</div>

        	</div>
          	<!-- /.row justify-content-md-center -->
          </div><!--.group6 for Target mbox mapping -->
		</div>
        <!-- /.col-lg-9 -->
	</div>
    <!-- /.row justify-content-md-center -->
   </div>
   <!-- /.category-womens -->
</div>
<!-- /.container -->
    
   
