<!-- Page Content -->
    <div class="container">

     <!-- refining this: <div class="row"> -->
       <div class="row justify-content-md-center">


        <div class="col-lg-9">

          <div class="card sm-4">
            <img class="card-img-top img-fluid" src="https://teehuggers.com/summit-2020-lab/imgs/womens-v-pdp.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">womens&rsquo; v</h4>
              <h5>$29.99</h5>
              <p class="card-text">Not too high, not too low; not too tight, not too boxy. You'll never buy another tee again. Tag-free, of course.</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            	<div ng-controller="WomensVClickCtrl">
            		<a class="btn btn-checkout-bc btn-success pull-right" ng-click="createId()" href="#checkout">Buy Now <i class="fa fa-angle-right"></i></a>
				</div>
            </div>
             <!-- /.card-body -->
          </div>
          <!-- /.card sm-4 -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h1>product reviews</h1>
            </div>
            <div class="card-body">
              <p1>I prefer this one over the round neck but not are ++</p1>
              <small class="text-muted">Posted by Marsha J. on 9/18/17</small>
              <hr>
              <p1>Mine did shrink after first wash, a bit disappointed</p1>
              <small class="text-muted">Posted by Elle H. on 10/22/17</small>
              <hr>
              <p1>INSTANT CLASSIC</p1>
              <small class="text-muted">Posted by Harper R. on 1/4/18</small>
              <hr>
              <a href="#" class="btn btn-link btn-sm pull-right">LEAVE A REVIEW</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->


      </div>

    </div>
    <!-- /.container -->
