<!-- Template: Header Navigation
Original: <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
Need to update the default CSS for the navbar to update the font-color while keeping the hover...
Also tried: <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #556f27c7">
 -->
    
      <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="https://teehuggers.com/summit-2020-lab/imgs/teehugger-nav-logo-new.png" width="200" height="49" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" href="#">home<span class="sr-only">(current)</span></a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b class="carat" ></b>shop</span></a>
          <ul class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse.show">
            <li><a href="#baby">baby</a></li>
            <li><a href="#kids">kids</a></li>
            <li><a href="#mens">mens</a></li>
            <li><a href="#womens">womens</a></li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" href="#about">about</a></li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" href="#faq">faq</a></li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" href="#contact">contact</a></li>
      </ul>
          </ul>
        <ul class="nav navbar-nav navbar-right">
        	<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" href="#sign-up">sign up</a></li>
        	<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" href="#shop-login">log in</a></li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" href="#my-account-cart">cart</a></li>
      </ul>
        </div>
      </div>
    </nav>